<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>
<body>
    <!-- 新增的星星容器 -->
    <div id="stars-container"></div>

    <!-- 游標光暈元素 -->
    <div id="cursor-glow"></div>

    <header>
        <h1>歡迎來到GalaxyStock.ai</h1>
    </header>
    <div class="container">
        <a href="Index.html" class="link-button">選擇權即時報價查詢</a>
        <a href="#" class="link-button">其他功能 (待開發)</a>
    </div>
    <script src="../static/js/effects.js"></script>
</body>
</html>